.container.sixteen.columns
  #image.eight.columns.alpha
    = image_tag("sunglasses.jpg")
  #text.eight.columns.omega
    #MoreButton
      %h3= link_to "More", root_path
    %br
    %br
    %br
    = @posts.text
    %br
    %br
    %br
    %h5= @posts.ta


