%h1 Life Advice From Tina Fey & Amy Poehler


Hey I'm a random post:
%br

  = @posts.text
  %br
  = @posts.author
  / = link_to 'Permalink', post 

%br
%hr 
%hr
%br

/ Hey I'm all the posts:

/ - @allposts.each do |post|
/   = post.text
/   = post.author
/   = link_to 'Permalink', post


 
  
      