
%br

.body

  .leftdiv
    = image_tag("AmyTina.jpg")
  .rightdiv
    .button
      = link_to "More", root_path
    %br
    %br
    = @posts.text
    %br
    = @posts.ta
    %br
    / = link_to "Permalink", @post
  

  
 
  
      