#Wanda#Tina#Mindy
  .container.sixteen.columns
    #text#MoreButton
      %h3= link_to "More", root_path
    %br
    %br
    %br
    #jam
      .four.columns.alpha
        %br
        %br
      #text.eight.columns.omega
        %br
        %h4= @posts.text

        = @posts.ta
        %br
      .four.columns.omega
        %br

