
.footie {
  background-color: #ddaa99;
  color: #443322;
  font-family: 'Chango', cursive;
}

.header {
  background-color: #ddaa99;
  color: #443322; 
  font-family: 'Chango', cursive;
  text-align: center;
  vertical-align: center;
}

 