// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.body {
  background-color: #eeddcc;
  // margin-top: 0px;
}
.rightdiv {
  // float: right;
  border:5px solid #cc3333;
  width: 50%
  
}

.leftdiv {
  float: left;
  img {
    width: 50%;
    height: auto;
  }
}